footer {
  padding: 1.2rem 1rem;
  color: rgb(255, 255, 255);
}

.circle {
  background-color: white;
  border-radius: 50%;
  border: 1px solid rgb(2, 89, 250);
  padding: 7px;
  width: 40px;
  height: 40px;
}

.page-bas {
  padding: 3.2rem 1rem;
  background-image: url(../img/bg-titik.jpg);
}

.secto {
  padding: 3.3rem 1rem;
  background-color: rgb(255, 255, 255);
  margin-top: 1em;
}

.sec-contact {
  padding: 3.3rem 1rem;
  background-color: #0099ff;
}

.animasi-teks {
  font-size: 29px;
  width: 100%;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 10s steps(70, end);
  animation: animasi-ketik 10s steps(70, end);
}

.animasi-teks-del {
  font-size: 29px;
  width: 100%;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: unset;
  animation: unset;
}

@media only screen and (max-width: 600px) {
  .sec-title h2 .sec-title-border span {
    top: -20px;
  }
}

@keyframes animasi-ketik {
  from {
    width: 0;
  }
}

@-webkit-keyframes animasi-ketik {
  from {
    width: 100%;
  }
}
